@page "/AddStudent"
@inherits AddStudentBase
@using Microsoft.AspNetCore.Components

<section style="width:600px; margin: 0 auto;">
    <EditForm Model="@student" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudNumericField Label="Parent Number" @bind-Value="student.ParentId"
                                 For="@(() => student.ParentId)"></MudNumericField>
                <MudTextField Label="First Name" @bind-Value="student.FirstName"
                              For="@(() => student.FirstName)"/>
                <MudTextField Label="Last Name" @bind-Value="student.LastName"
                              For="@(() => student.LastName)"/>
                <MudTextField Label="Username" @bind-Value="student.Username"
                              For="@(() => student.Username)"/>
                <MudTextField Label="Email" @bind-Value="student.Email"
                              For="@(() => student.Email)"/>
                <MudTextField Label="Phone 1" @bind-Value="student.PhoneOne"
                              For="@(() => student.PhoneOne)"/>
                <MudNumericField Label="Sibling Count" @bind-Value="student.SiblingCount"
                                 For="@(() => student.SiblingCount)"></MudNumericField>
                <br/>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" 
                           Class="ml-auto">Add Student</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</section>

<SuccessNotification Uri="Students" @ref="_notification"/>