@using Pschool.Models.Dtos
@using Microsoft.AspNetCore.Components
@* @inherits DisplayStudentsBase *@


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<AuthorizeView Roles="admin">
    <Authorized>
        <MudContainer Style="border: 1px solid #d6d5d5;text-align: right;">
            <MudButton ButtonType="ButtonType.Button" Href="/AddStudent" Variant="Variant.Filled" Color="Color.Primary" 
                       Class="ml-auto" Style="margin: 10px;">Add Student</MudButton>
        </MudContainer>
    </Authorized>
</AuthorizeView>

<MudTable ServerData="@(new Func<TableState, Task<TableData<StudentDto>>>(GetServerData))" Hover="true" Breakpoint="Breakpoint.Sm" RightAlignSmall="true"  @ref="_table" RowsPerPage="4" NoRecordsContent=@RenderNoStudentsInfo Style="color: inherit;">
    
    <ToolBarContent>
        <MudText Typo="Typo.h6">Students</MudText>
        <MudSpacer/>
        <MudTextField OnDebounceIntervalElapsed="OnSearch" Placeholder="Search" Adornment="Adornment.Start" 
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" 
                      Class="mt-0" T="string" DebounceInterval="500"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="FirstName" T="StudentDto">First<br>Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="LastName" T="StudentDto">Last<br>Name</MudTableSortLabel></MudTh>
        <MudTh>Username</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Phone 1</MudTh>
        <MudTh>Siblings</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="First Name">@context.FirstName</MudTd>
        <MudTd DataLabel="Last Name">@context.LastName</MudTd>
        <MudTd DataLabel="Username">@context.Username</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="Phone 1">@context.PhoneOne</MudTd>
        <MudTd DataLabel="Siblings">@context.SiblingCount</MudTd>
        <MudTd DataLabel="Action">
            <a style="padding-right:5px;" href="/StudentDetails/@context.Id"><i class="fa fa-bars" style="width:10px;height:10px;color:DodgerBlue;"></i></a>
            <a style="padding-right:5px;" href="/EditStudent/@context.Id"><i class="fa fa-magic" style="width:10px;height:10px;color:DodgerBlue;"></i></a>
            <a style="padding-right:5px;"><i class="fa fa-trash" style="width:10px;height:10px;color:DodgerBlue;" @onclick="() => DeleteItem_Click(context.Id)"></i></a>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="@_pageSizeOption" RowsPerPageString="Students per page" /> 
    </PagerContent>
</MudTable>





<MudContainer Style="margin:10px;">
        <p>Select parent from the DropDownList</p>
        <SfDropDownList TValue="int" TItem="ParentDropDown" Placeholder="Select parent" DataSource="@parentsdropdown" Width="150px">
            <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
            <DropDownListEvents TValue="int" TItem="ParentDropDown" ValueChange="OnValueChange"></DropDownListEvents>
        </SfDropDownList>
    
        <MudButton ButtonType="ButtonType.Button" @onclick="ChangeDefault" Variant="Variant.Filled" Color="Color.Primary"
                   Class="ml-auto" Style="margin: 10px;">Default</MudButton>
</MudContainer>


@code {
    private RenderFragment RenderNoStudentsInfo = __builder =>
    {
        <p>no students</p>
    };
}


    
