@inherits DisplayStudentsBase


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="border: 1px solid #d6d5d5;">
    <table class="table" style="width:100%">
        <thead>
        <tr>
            <th style="color:DodgerBlue;">
                First<br>Name
            </th>
            <th style="color:DodgerBlue;">
                Last<br>Name 
            </th>
            <th style="color:DodgerBlue;">
                Username
            </th>
            <th style="color:DodgerBlue;">
                Email
            </th>
            <th style="color:DodgerBlue;">
                Phone 1
            </th>
            <th style="color:DodgerBlue;">
                Siblings
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach(var item in Students) {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Username</td>
                <td>@item.Email</td>
                <td>@item.PhoneOne</td>
                <td>@item.SiblingCount</td>
                    
                <td>
                    <a style="padding-right:5px;" href="/StudentDetails/@item.Id"><i class="fa fa-bars" style="width:10px;height:10px;color:DodgerBlue;"></i></a>
                    <a style="padding-right:5px;" href="/EditStudent/@item.Id"><i class="fa fa-magic" style="width:10px;height:10px;color:DodgerBlue;" ></i></a>
                    <a style="padding-right:5px;"><i class="fa fa-trash" style="width:10px;height:10px;color:DodgerBlue;" @onclick="() => DeleteItem_Click(item.Id)"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    
    
</div>
<p>Select parent from the DropDownList</p>
    
<SfDropDownList TValue="int" TItem="ParentDropDown" Placeholder="Select parent" DataSource="@parentsdropdown" Width="150px">
    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
    <DropDownListEvents TValue="int" TItem="ParentDropDown" ValueChange="OnValueChange"></DropDownListEvents>
</SfDropDownList>

<button type="button" @onclick="() => Students=StudentsDefaut">Default</button>