@page "/EditParent/{Id:int}"
@inherits EditParentBase
@using Microsoft.AspNetCore.Components
@using Pschool.Models.Dtos
@using PschoolAPIfront.Services.Contracts
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "admin")]

@if (parent == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    
    <section style="width:600px; margin: 0 auto;">
        <EditForm Model="@parent" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="First Name" @bind-Value="parent.FirstName"
                                  For="@(() => parent.FirstName)" />
                    <MudTextField Label="Last Name" @bind-Value="parent.LastName"
                                  For="@(() => parent.LastName)" />
                    <MudTextField Label="Username" @bind-Value="parent.Username"
                                  For="@(() => parent.Username)" />
                    <MudTextField Label="Email" @bind-Value="parent.Email"
                                  For="@(() => parent.Email)" />
                    <MudTextField Label="Home Address" @bind-Value="parent.Address"
                                  For="@(() => parent.Address)" />
                    <MudTextField Label="Phone 1" @bind-Value="parent.PhoneOne"
                                  For="@(() => parent.PhoneOne)" />
                    <MudTextField Label="Phone Work" @bind-Value="parent.PhoneWork"
                                  For="@(() => parent.PhoneWork)" />
                    <MudTextField Label="Phone Home" @bind-Value="parent.PhoneHome"
                                  For="@(() => parent.PhoneHome)" />
                    <MudNumericField Label="Sibling Count" @bind-Value="parent.SiblingCount"
                                     For="@(() => parent.SiblingCount)"></MudNumericField>
                    <br/>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" 
                               Class="ml-auto">Edit Parent</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </section>

    <SuccessNotification Uri="/" @ref="_notification"/>

    

}